html {
    height: 100%; /* Ensure the html element takes up the full height */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use viewport height to ensure footer can stick to the bottom */
    margin: 0 10%; /* Reset default margin */
    padding: 0;
    width: 80%;
    color: white;
    font-family: 'Arial', sans-serif;
    background-image: url('../images/banner6.jpeg');
    background-repeat: no-repeat;
    background-position: center center; /* Adjust the px value as needed to shift */
    background-size: cover;
    background-attachment: fixed;
    position: relative; /* This should remain to retain the background and overlay effect */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1; /* Ensure this doesn't interfere with content visibility */
}

main {
    /*flex: 1;  Allows the main content to grow and push the footer down */
    position: relative; /* Ensures content on main is above the overlay */
    z-index: 1;
    margin-bottom: 60px; /* Adjust based on the height of your footer */
    min-height: calc(100vh - 60px);
}


header nav ul {
    list-style-type: none;
    text-align: center;
    padding: 20px;

}
header nav ul li {
    display: inline;
    margin: 0 15px;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px; 
}
a:hover {
    color: #5F84A2;
}

.intro-container {
    display: flex;
    align-items: center;
    padding: 30px 20px;
}
.profile-pic {
    margin-right: 0 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#index h1 {
    text-align: center;
    font-size: 50px; /* Increase the font size for emphasis */
    margin-top: 20px; /* Add top margin */
    font-weight: bold; /* Change to 'bold' if you prefer, or keep 'normal' */
    text-transform: uppercase; /* Makes the text uppercase for more impact */
    letter-spacing: 1.5px; /* Adds spacing between letters */
}
#profile h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#about h2 {
    color: #5F84A2; /* Change this to your preferred color */
    text-align: center;
    font-size: 32px; /* Increase the font size for emphasis */
    margin-top: 20px; /* Add top margin */
    margin-bottom: 30px; /* Add bottom margin */
    font-weight: bold; /* Change to 'bold' if you prefer, or keep 'normal' */
    text-transform: uppercase; /* Makes the text uppercase for more impact */
    letter-spacing: 1.5px; /* Adds spacing between letters */
}

#about p {
    font-size: 18px; /* Adjust font size for readability */
    line-height: 1.6; /* Adjust line height for better readability */
    /*color: #333;  Change this to your preferred text color */
    margin-bottom: 20px; /* Adds bottom margin between paragraphs */
    text-align: justify; /* Adjusts the text alignment */
    padding: 10px  30px; /* Adds padding on the sides for narrower text blocks */
}
@media screen and (max-width: 600px) {
    #index h1 { font-size: 30px; }
    #about h2 { font-size: 22px; }
    h3 { font-size: 20px; }
    header nav ul li a { font-size: 16px; }
    header nav ul li {margin: 50px 15px;}
    header nav ul{ padding: 5px;}
    main {
        padding: 0px; /* Reduced padding on smaller screens */
    }
    body {
        margin: 0 0%; /* Reset default margin */
        width: 100%;
    }
    .intro-container {
        flex-direction: column;
        padding: 20px 0px;
    }
    
}
@media screen and (max-width: 800px) {
    #index h1 { font-size: 30px; }
    #about h2 { font-size: 22px; }
    h3 { font-size: 20px; }
    header nav ul li a { font-size: 16px; }
    header nav ul li {margin: 50px 15px;}
    header nav ul{ padding: 5px;}
    main {
        padding: 0px; /* Reduced padding on smaller screens */
    }
    body {
        margin: 0 5%; /* Reset default margin */
        width: 90%;
    }
    .intro-container {
        flex-direction: column;
        padding: 20px 0px;
    }
}
