.timeline {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.timeline-container {
    position: relative;
    padding: 20px 0;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #ddd; /* Light accent color */
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-entry {
    position: relative;
    width: 50%;
    padding: 10px 2.5rem;
    box-sizing: border-box;
}

.left-entry {
    left: 0;
}

.right-entry {
    left: 50%;
    
}

.timeline-entry .timeline-content {
    position: relative;
    padding: 30px;
    color: #f0f0f0; /* Light font color for dark background */
}
.right-entry .timeline-content {
    text-align: left;
    padding: 30px 6%;
}

.timeline-entry .timeline-content::before {
    content: '';
    position: absolute;
    width: 4vw;
    height: 2px;
    background-color: #ddd; /* Light accent color */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
/* Circular marker */
.timeline-entry:hover .timeline-content::before {
    /*background-color: transparent;  Hide the line behind the circle */
    border: 2px solid #ddd; /* Border color for the circle, can use accent color */
    width: 10px; /* Diameter of the circle */
    height: 10px; /* Diameter of the circle */
    border-radius: 50%; /* Makes the shape a circle */
    top: calc(50% - 5px); /* Centers the circle vertically */
    z-index: 2;
}
left-entry:hover .timeline-content::before {
    right: -15% ; /* Centers the circle on the timeline */

}
right-entry:hover .timeline-content::before {
    left: -15% ; /* Centers the circle on the timeline */

}
.left-entry .timeline-content::before {
    right: -2.5rem; /* For left entries, extend line from right */
}

.right-entry .timeline-content::before {
    left: -2.5rem; /* For right entries, extend line from left */
}
/*.right-entry .timeline-content::before {
    left: 100%;
    right: auto;
}*/

.timeline-entry .timeline-content h3,
.timeline-entry .timeline-content p {
    margin: 0;
    transition: all 0.3s ease;
}

.timeline-entry .timeline-content:hover {
    transform: translateX(-10px);
}

.right-entry .timeline-content:hover {
    transform: translateX(10px);
}

@media screen and (max-width: 600px) {
    
    .timeline-entry {
        width: 100%;
        padding: 0px 0px;
    }

    .timeline-container::after {
        top: 50px;
        left: 5px;
        transform: translateX(0%);
    }
    .right-entry {
        left: 0%;
        
    }
    .right-entry .timeline-content {
        text-align: left;
        padding: 30px;
    }
    
    .left-entry .timeline-content::before,
    .right-entry .timeline-content::before {
        border: 2px solid #ddd; /* Border color for the circle, can use accent color */
        width: 10px; /* Diameter of the circle */
        height: 10px; /* Diameter of the circle */
        border-radius: 50%; /* Makes the shape a circle */
        top: calc(50% - 5px); /* Centers the circle vertically */
        z-index: 2;
        left: 0;
    }
 
    .timeline-entry .timeline-content:hover,
    .right-entry .timeline-content:hover  {
        transform: translateX(0px);
        left: 0 ;
    }
    
}
