html {
    height: 100%; /* Ensure the html element takes up the full height */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use viewport height to ensure footer can stick to the bottom */
    margin: 0; /* Reset default margin */
    padding: 0;
    width: 100%;
    color: white;
    font-family: 'Arial', sans-serif;
    background-image: url('./images/banner4.jpg');
    background-repeat: no-repeat;
    background-position: center center; /* Adjust the px value as needed to shift */
    background-size: cover;
    background-attachment: fixed;
    position: relative; /* This should remain to retain the background and overlay effect */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1; /* Ensure this doesn't interfere with content visibility */
}

main {
    flex-grow: 1; /* Allows the main content to grow and push the footer down */
    position: relative; /* Ensures content on main is above the overlay */
    z-index: 1;
}

footer {
    z-index: 1; /* Ensure the footer is also above the overlay */
    position: relative;
}

header nav ul {
    list-style-type: none;
    text-align: center;
    padding: 20px;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.intro-container {
    display: flex;
    align-items: center;
    padding: 20px;
}
.profile-pic {
    margin-right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    position: center;
}
.contact a {
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
}
.contact a:hover {
    color: #0b5ed7;
}
#publications {
    padding: 20px;
    background-color: transparent; /*#f9f9f9;*/
}

.publications-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.publication {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space evenly */
    padding: 15px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden; /* In case of very long titles */
}

.publication h3 {
    font-size: 20px;
    margin: 0 0 10px 0; /* Add space below the title */
}

.publication-info {
    margin-top: auto; /* Pushes the info to the bottom */
    display: grid;
    grid-template-columns: 1fr auto; /* Allocates space for details and button */
    align-items: end; /* Aligns items to the bottom */
}

.pub-details {
    font-style: italic;
    color: #666666;
    margin: 0; /* Remove any default margin */
}

.paper-link {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Adds space between details and button */
}

.paper-link:hover {
    background-color: #0056b3;
}


.timeline {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.timeline-container {
    position: relative;
    padding: 20px 0;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #ddd; /* Light accent color */
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-entry {
    position: relative;
    width: 50%;
    padding: 10px 40px;
    box-sizing: border-box;
}

.left-entry {
    left: 0;
}

.right-entry {
    left: 50%;
}

.timeline-entry .timeline-content {
    position: relative;
    padding: 20px;
    color: #f0f0f0; /* Light font color for dark background */
}
.right-entry .timeline-content {
    text-align: left;
}

.timeline-entry .timeline-content::before {
    content: '';
    position: absolute;
    width: calc(13% + 0px);
    height: 2px;
    background-color: #ddd; /* Light accent color */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
/* Circular marker */
.timeline-entry:hover .timeline-content::before {
    /*background-color: transparent;  Hide the line behind the circle */
    border: 2px solid #ddd; /* Border color for the circle, can use accent color */
    width: 10px; /* Diameter of the circle */
    height: 10px; /* Diameter of the circle */
    border-radius: 50%; /* Makes the shape a circle */
    top: calc(50% - 5px); /* Centers the circle vertically */
    z-index: 2;
}
left-entry:hover .timeline-content::before {
    right: -15% ; /* Centers the circle on the timeline */

}
right-entry:hover .timeline-content::before {
    left: -15% ; /* Centers the circle on the timeline */

}
.left-entry .timeline-content::before {
    right: -11%; /* For left entries, extend line from right */
}

.right-entry .timeline-content::before {
    left: -11%; /* For right entries, extend line from left */
}
/*.right-entry .timeline-content::before {
    left: 100%;
    right: auto;
}*/

.timeline-entry .timeline-content h3,
.timeline-entry .timeline-content p {
    margin: 0;
    transition: all 0.3s ease;
}

.timeline-entry .timeline-content:hover {
    transform: translateX(-10px);
}

.right-entry .timeline-content:hover {
    transform: translateX(10px);
}

@media screen and (max-width: 600px) {
    .timeline-entry,
    .left-entry,
    .right-entry {
        width: 100%;
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .right-entry .timeline-content::before,
    .left-entry .timeline-content::before {
        display: none;
    }

    .timeline-entry .timeline-content:hover {
        transform: none;
    }
}
.experience .timeline-content ul {
    padding-left: 20px; /* Adjust based on design */
    list-style-type: circle; /* Or choose another style */
    color: #f0f0f0; /* Light font color for dark background */
}

.experience .timeline-content li {
    margin-bottom: 10px; /* Space between bullet points */
}

.experience .timeline-entry {
    position: relative;
    width: 50%; /* Increase from 50% to 60% for more space */
    padding: 10px 40px; /* Adjust padding as needed */
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .experience .timeline-entry,
    .experience .left-entry,
    .experience .right-entry {
        width: 100%; /* Full width on smaller screens */
        left: 0;
        padding: 10px 20px; /* Adjust padding for smaller screens */
    }

    .experience .left-entry .timeline-content::before,
    .experience .right-entry .timeline-content::before {
        /* Optionally hide the horizontal connectors on smaller screens */
        display: none;
    }
}
